{% include 'base.html' %}
{% include 'sidebars/colaboradorSidebar.html' %}
<body>
    <section class="home-section">
        <div class="home-content">
            <i class='bx bx-menu' ></i>
            <span class="text">Inicio</span>
        </div>
        <br>
        <div class="container-fluid">
            <a>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam quaerat aliquam deserunt 
            veritatis quisquam illo odit quos, dolores tempore aut adipisci in veniam dicta assumenda 
            facere illum velit fuga eius.</a>
        </div>
    </section>
</body>