{% include 'base.html' %}
<body>
{% include 'sidebars/colaboradorSidebar.html' %}
    <section class="home-section">
        <div class="card shadow">
            <div class="card body">
                <div class="home-content">
                    <span class="text">{{ page }}</span>
                </div>
            </div>
        </div>
        <br>
        <div class="container-fluid">
            <a>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam quaerat aliquam deserunt 
            veritatis quisquam illo odit quos, dolores tempore aut adipisci in veniam dicta assumenda 
            facere illum velit fuga eius.</a>
        </div>
    </section>
</body>