{% include 'base.html' %}
{% include 'AdminSidebar.html' %}
<body>
    <section class="home-section">
        <div class="home-content">
            <i class='bx bx-menu' ></i>
            <span class="text">Mantenedor Acciones</span>
        </div>
        <br>
        <div class="container-fluid">
            <div class="card">
                <div class="card-body">
                    <div class="content-header row">
                        <div class="content-header-left col-md-6 col-12 mb-2">
                            <h3 class="content-header-title"> Mantenedor Acciones </h3>
                        </div>
                        <div class="content-header-right col-md-6 col-12">
                            <div class="media-body media-right text-right">
                                <button onclick="modalAgregar()" type="button" class="bx bx-list-check">
                                    <i class="la la-list-alt"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div id="tablaPreguntas_wrapper" class="dataTables_wrapper dt-bootstrap4">
                                <div class="row">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe totam amet explicabo. 
                                        Reprehenderit asperiores incidunt error, quidem magnam ipsam pariatur repudiandae aspernatur 
                                        necessitatibus excepturi aliquam voluptatem architecto, commodi nostrum voluptas.</p>
                                </div>
                                <div class="row">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe totam amet explicabo. 
                                        Reprehenderit asperiores incidunt error, quidem magnam ipsam pariatur repudiandae aspernatur 
                                        necessitatibus excepturi aliquam voluptatem architecto, commodi nostrum voluptas.</p>
                                </div>
                                <div class="row">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe totam amet explicabo. 
                                        Reprehenderit asperiores incidunt error, quidem magnam ipsam pariatur repudiandae aspernatur 
                                        necessitatibus excepturi aliquam voluptatem architecto, commodi nostrum voluptas.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
   
    
</body>