{% load static %}
{% load crispy_forms_tags %}
<!doctype html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <title>Sentte</title>
        <link rel="icon" type="image/png" href="{% static 'img/logo.png' %}"/>
        <link rel="stylesheet" type="text/css" href="{%static 'stylesheets/login.css' %}">  
    </head>
    <body>
        <div class="login">
            <div class="login-triangle"></div>
            
            <h2 class="login-header">Iniciar Sesion
                <img src="{% static 'img/logo.png' %}" alt="profileImg" style="width: 30px; height: 30px;">
            </h2>
          
            <form class="login-container" method="POST">
                {% csrf_token %}
                <p>Usuario</p>
                {{ form.username }}
                <br>
                <p>Contraseña</p>
                {{ form.password }}
              <p><input type="submit" value="Iniciar Sesion"></p>
            </form>
          </div>
    </body>
</html>