{% load static %}
{% load crispy_forms_tags %}
<!doctype html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <title>Sentte</title>
        <link rel="icon" type="image/png" href="{% static 'img/logo.png' %}"/>
    </head>
    <body>
        <div class="container" id="container">
            <form method='POST'>
                <img id="imglogo" src="{% static 'img/logo.png' %}" alt="profileImg">
                <br>
                <h5>Ingrese sus credenciales</h5>
                {% csrf_token %}
                {{ form | crispy }}
                <button id="bntVerificar">Iniciar sesión</button>
            </form>
        </div>
    </body>
</html>