<!doctype html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <title>Sentte</title>
        <link rel="icon" type="image/png" href="static/img/logo.png"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
        <!-- JQUERY -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>    
        <!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>    
        <!-- Los iconos tipo Solid de Fontawesome -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
        <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
        <!-- Nuestro css -->
        <link rel="stylesheet" type="text/css" href="static/stylesheets/login.css">
    </head>
    <body>
        <div class="container" id="container">
            <form action="#">
                <img id="imglogo" src="static/img/logo.png" alt="profileImg">
                <h6>Ingrese sus credenciales</h6>
                <input class="bx bx-us" type="email" placeholder="Correo"/>
                <input class="" type="password" placeholder="Contraseña"/>
                <button>Iniciar sesión</button>
            </form>
        </div>
    </body>
</html>