{% load static %}
<!-- Se crea la divicion para el menu lateral -->
<div class="sidebar close">
  <!-- Se configura el logo con el nombre -->
  <div class="logo-details">
    <i><img src="{% static 'img/logo.png' %}" width="50" height="50"></i>
    <span class="logo_name">Sentte</span>
  </div>
  <!-- Se realizan las opciones del menu lateral -->
  <ul class="nav-links">
    <li>
        <a href="http://localhost:8000/adminInicio">
          <i class='bx bx-home'></i>
          <span class="link_name">Inicio</span>
        </a>
    </li>
    <li>
        <a href="http://localhost:8000/adminAcciones">
          <i class='bx bx-task'></i>
          <span class="link_name">Acciones</span>
        </a>
    </li>
    <li>
        <a href="http://localhost:8000/adminCargos">
          <i class='bx bx-briefcase-alt'></i>
          <span class="link_name">Cargos</span>
        </a>
    </li>
    <li>
        <a href="http://localhost:8000/adminCompetencias">
          <i class='bx bx-trophy'></i>
          <span class="link_name">Competencias</span>
        </a>
    </li>
    <li>
      <a href="http://localhost:8000/adminGerencias">
        <i class='bx bx-street-view'></i>
        <span class="link_name">Gerencias</span>
      </a>
  </li>
  <li>
      <a href="http://localhost:8000/adminUsuarios">
        <i class='bx bx-id-card'></i>
        <span class="link_name">Usuarios</span>
      </a>
  </li>
  <li>
      <a href="http://localhost:8000/adminSubgerencias">
        <i class='bx bx-group'></i>
        <span class="link_name">Subgerencias</span>
      </a>
  </li>   
  <li>
      <a href="http://localhost:8000/adminAyuda">
        <i class='bx bx-donate-heart'></i>
        <span class="link_name">Ayuda</span>
      </a>
  </li>
    <!-- Se crea la visual del perfil abajo del menu -->
    <li>
        <div class="profile-details">
          <div class="profile-content">
            <img src="{% static 'img/foto_perfil.jpg' %}" alt="profileImg">
          </div>
          <div class="name-job">
            <div class="profile_name">Julio Profe</div>
            <div class="job">Administrador</div>
          </div>
          <i class='bx bx-log-out' ></i>
        </div>
    </li>
  </ul>
</div>