{% load static %}
<!-- Se crea la divicion para el menu lateral -->
<div class="sidebar close">
  <!-- Se configura el logo con el nombre -->
  <div class="logo-details">
    <a class="logo-details" href="/adminInicio">
      <i><img src="{% static 'img/logo.png' %}" width="50" height="50"></i>
      <span class="logo_name">Sentte</span>
    </a>
    <i class='bx bx-menu' id="btn" ></i>
  </div>
  <!-- Se realizan las opciones del menu lateral -->
  <ul class="nav-links">
    <!-- Administrador -->
    <li>
        <a href="/adminInicio">
          <i class='bx bx-home'></i>
          <span class="link_name">Inicio</span>
        </a>
    </li>
    {% if perms.auth.add_permission %}
    <li>
      <a href="/adminIndicadores">
        <i class='bx bx-bar-chart-square'></i>
        <span class="link_name">Indicadores</span>
      </a>
   </li>
    <li>
        <a href="/adminAcciones">
          <i class='bx bx-task'></i>
          <span class="link_name">Acciones</span>
        </a>
    </li>
    <li>
      <a href="/adminPerfil">
        <i class='bx bx-user-circle'></i>
        <span class="link_name">Perfiles</span>
      </a>
   </li>
    <li>
      <a href="/adminArea">
        <i class='bx bx-aperture'></i>
        <span class="link_name">Areas</span>
      </a>
    </li>
    <li>
        <a href="/adminCargos">
          <i class='bx bx-briefcase-alt'></i>
          <span class="link_name">Cargos</span>
        </a>
    </li>
    <li>
        <a href="/adminCompetencias">
          <i class='bx bx-trophy'></i>
          <span class="link_name">Competencias</span>
        </a>
    </li>
    <li>
      <a href="/adminGerencias">
        <i class='bx bx-street-view'></i>
        <span class="link_name">Gerencias</span>
      </a>
    </li>
    <li>
      <a href="/adminUsuarios">
        <i class='bx bx-user-plus'></i>
        <span class="link_name">Usuarios</span>
      </a>
    </li>
    <li>
      <a href="/adminSubgerencias">
        <i class='bx bx-group'></i>
        <span class="link_name">Subgerencias</span>
      </a>
  </li>   
  {% endif %}
  <!-- Evaluador -->
  {% if perms.senttevaluationapp.view_planaccion %}
    <li>
      <a href="/evaluadorEvaluacion">
        <i class='bx bx-file'></i>
        <span class="link_name">Evaluar</span>
      </a>
    </li>
    <li>
      <a href="/evaluadorAutovaluacion">
        <i class='bx bx-calendar-check'></i>
        <span class="link_name">AutoEvaluacion</span>
      </a>
    </li>
  {% endif %}
    <li>
      <a href="/adminAyuda">
        <i class='bx bx-donate-heart'></i>
        <span class="link_name">Ayuda</span>
      </a>
    </li>
    <!-- Se crea la visual del perfil abajo del menu -->
    <li>
        <div class="profile-details">
          <div class="profile-content">
            {% if user.is_staff %}
              <img src="/media/foto_perfil.jpg" alt="profileImg" width="52px" height="52px">
            {% else %}
              <img src="/media/{{ request.user.empleado.Imagen }}" alt="profileImg" width="52px" height="52px">
            {% endif %}
          </div>
          <div class="name-job">
            <div class="profile_name">{{ user.username }}</div>
            {% if user.is_staff %}
              <div class="job">{{ request.user.email }}</div>
            {% else %}
            <div class="job">{{ request.user.empleado.Correo }}</div>
            {% endif %}
          </div>
          <i>
            <a class='bx bx-log-out' href="{% url 'logout' %}"></a>
          </i>
        </div>
    </li>
  </ul>
</div>