{% load static%}
<!-- Se crea la divicion para el menu lateral -->
<div class="sidebar close">
  <!-- Se configura el logo con el nombre -->
  <div class="logo-details">
    <a class="logo-details" href="/calibradorInicio">
      <i><img src="{% static 'img/logo.png' %}" width="50" height="50"></i>
      <span class="logo_name">Sentte</span>
    </a>
  </div>
  <!-- Se realizan las opciones del menu lateral -->
  <ul class="nav-links">
    <li>
        <a href="/calibradorInicio">
          <i class='bx bx-home'></i>
          <span class="link_name">Inicio</span>
        </a>
    </li>
  <li>
      <a href="/calibradorEvaluaciones">
        <i class='bx bx-file'></i>
        <span class="link_name">Evaluaciones</span>
      </a>
  </li>
  <li>
      <a href="/calibradorAyuda">
        <i class='bx bx-donate-heart'></i>
        <span class="link_name">Ayuda</span>
      </a>
  </li>
    <!-- Se crea la visual del perfil abajo del menu -->
    <li>
        <div class="profile-details">
          <div class="profile-content">
            <img src="/media/{{ request.user.empleado.Imagen }}" alt="profileImg" width="52px" height="52px">
          </div>
          <div class="name-job">
            <div class="profile_name">{{ user.username }}</div>
            <div class="job">{{ request.user.empleado.Correo }}</div>
          </div>
          <i> 
            <a class='bx bx-log-out' href="{% url 'logout' %}"></a>
          </i>
        </div>
    </li>
  </ul>
</div>