{% load static%}
 <!-- Se crea la divicion para el menu lateral -->
<div class="sidebar close">
  <!-- Se configura el logo con el nombre -->
  <div class="logo-details">
    <i><img src="{% static 'img/logo.png' %}" width="50" height="50"></i>
    <span class="logo_name">Sentte</span>
  </div>
  <!-- Se realizan las opciones del menu lateral -->
  <ul class="nav-links">
    <li>
        <a href="evaluadorInicio">
          <i class='bx bx-home'></i>
          <span class="link_name">Inicio</span>
        </a>
    </li>
    <li>
        <a href="evaluadorEvaluacion">
          <i class='bx bx-file'></i>
          <span class="link_name">Evaluar</span>
        </a>
    </li>
    <li>
        <a href="evaluadorAutovaluacion">
          <i class='bx bx-calendar-check'></i>
          <span class="link_name">AutoEvaluacion</span>
        </a>
    </li>
    <li>
        <a href="evaluadorAyuda">
          <i class='bx bx-accessibility'></i>
          <span class="link_name">Ayuda</span>
        </a>
    </li>
    <!-- Se crea la visual del perfil abajo del menu -->
    <li>
        <div class="profile-details">
          <div class="profile-content">
            <img src="{% static 'img/foto_perfil.jpg' %}" alt="profileImg">
          </div>
          <div class="name-job">
            <div class="profile_name">Julio Profe</div>
            <div class="job">Evaluador</div>
          </div>
          <i class='bx bx-log-out' ></i>
        </div>
    </li>
  </ul>
</div>