{% include 'base.html' %}
{% include 'sidebars/adminSidebar.html' %}
{% load crispy_forms_tags %}
<body>
     <!-- Icono del menu -->
    <section class="home-section">
        <div class="home-content">
            <i class='bx bx-menu' ></i>
            <span class="text">Usuarios</span>
        </div>
        <br>
        <div class="container-fluid">
            <div class="card shadow">
                <div class="card-body">
                    <div class="content-header row">
                        <div class="content-header-left col-md-6 col-12 mb-2">
                            <h3 class="content-header-title"> Mantenedor Usuarios </h3>
                            <br>
                                <div class="col-sm-12 col-md-6">
                                    <div id="tablaUsuarios_filter" class="dataTables_filter"> 
                                        <label>
                                            Buscar:
                                            <input class="form-control" id="buscar" type="text" placeholder="Search..">
                                        </label>
                                    </div>
                                </div>
                        </div>
                        <!-- Esquina  superior derecha, agregar -->
                        <div class="content-header-right col-md-6 col-12">
                            <div class="media-body media-right text-right">
                                <!-- Llama a la funcion modalAgregar -->
                                <br>
                                <button type="button" id="btn" class="btn btn-success" data-toggle='modal' data-target="#modalAgregar" style="opacity: 0.5; height: 50px; width: 100px;">
                                    <a href="#" class="bx bxs-add-to-queue" style="opacity: 1; color: black;">Agregar</a>
                                </button>
                                <!-- Modal Agregar -->
                                <div class="modal fade" id='modalAgregar'>
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <!-- Modal Header -->
                                            <div class="modal-header">
                                                <h4 class="modal-title">Crear Usuario</h4>
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                              </div>

                                            <!-- Modal body -->
                                            <div class="modal-body">
                                                <form action='' method="POST">
                                                    {% csrf_token %}
                                                    <div class="media-body text-left">
                                                        {{ form | crispy }}
                                                        {{ form1 | crispy }}
                                                        
                                                    </div>
                                                    <br><br>
                                                    <div class="d-flex justify-content-end">
                                                        <button type="submit" class="btn btn-primary">Guardar</button>
                                                        &nbsp;
                                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                                    </div>
                                                </form>
                                            </div>                                               
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Cuerpo de la tarjeta -->
                    <div class="col-sm-12">  
                        <div id="tablaUsuarios_wrapper" class="dataTables_wrapper dt-bootstrap4">
                           <!-- Segunda parte: grilla -->
                            <div class="row">
                                <table class="table">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>Rut</th>
                                            <th>Nombre</th>
                                            <th>Correo</th>
                                            <th>Perfil Evaluacion</th>
                                            <th>opciones</th>
                                          
                                        </tr>
                                    </thead>
                                    <tbody id="tabla">
                                        {% for empleado in empleados %}
                                            <tr>
                                                <td data-label="Rut">{{ empleado.Rut }}</td>
                                                <td data-label="Nombre">{{ empleado.Nombre }}</td>
                                                <td data-label="Correo">{{ empleado.Correo }}</td>
                                                <td data-label="P.Evaluacion">No se</td>
                                               
                                                <td>
                                                    <button type="button" id="btn" class="btn btn-primary" style="opacity: 0.5;">
                                                        <a href="{% url 'adminUsuariosModificar' empleado.id %}" class="bx bx-edit-alt" style="opacity: 1; color: black;"></a>
                                                    </button>
                                                    <button data-name="{{ empleado.Nombre }}" type="button" id="btnEliminar" class="btn btn-danger" style="opacity: 0.5;">
                                                        <a href="{% url 'adminUsuariosEliminar' empleado.id %}" class="bx bx-box" style="opacity: 1; color: black;"></a>
                                                    </button>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>  
                </div>
            </div>
        </div>
        <br><br><br>
    </section>
</body>