{% include 'base.html' %}
{% include 'sidebars/adminSidebar.html' %}
{% load crispy_forms_tags %}
<body>
     <!-- Icono del menu -->
     <section class="home-section">
        <div class="home-content">
            <i class='bx bx-menu' ></i>
            <span class="text">Mantenedor Gerencias</span>
        </div>
        <br>
        <div class="container-fluid">
            <div class="card shadow">
                <div class="card-body">
                    <div class="content-header row">
                        <div class="content-header-left col-md-6 col-12 mb-2">
                            <h3 class="content-header-title"> Agregar Gerencia </h3>
                        </div>
                    </div>
                    <div class="col-sm-12">  
                        <form action="" method="POST"> 
                            {% csrf_token %}
                            {{ form | crispy }}
                            <div class="d-flex justify-content-end">
                                <input type="submit" value="Guardar" class="btn btn-primary">
                                &nbsp;
                                <a href="/adminGerencias" value="Cancelar" class="btn btn-danger" role="button">Cancelar</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
     </section>
</body>