{% include 'base.html' %}
{% include 'sidebars/adminSidebar.html' %}
{% load static %}
<body>
    <section class="home-section">
        <div class="container-fluid" id="title">
            <div class="card shadow">
                <div class="card body">
                    <div class="home-content">
                        <span class="text">{{ page }}</span>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <div class="container-fluid">     
             <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold">¿Como podemos ayudarte?</h6>
                </div>
                <div class="card-body">
                    <div class="text-center">
                        <img class="img-fluid" src="{% static 'img/ayuda_foto.PNG' %}" width="40%" height="40%">
                        <p>
                            Si llega a presentar algun problema, falla o irregularidad dentro del sistema del que se debe notificar, favor de comunicarse con uno de nuestros tecnicos que se encuentra mas abajo.
                            De igual manera si surgen dudas con respecto a algun funcionamiento dentro del sistema, tambien notificar a nuestro tecnico responsable.                            
                        </p>
                        <p>
                            Horario de atencion: Lunes a Viernes de 8:00 am hasta las 18:00 pm.
                        </p>
                        <p>
                            Cabe señalar que el tiempo de respuesta del tecnico es lenta o mas bien demorosa.
                        </p>
                        <p>Contactarse con Javier Mejias por correo en caso de algun inconveniente</p>
                        <a target="_blank" rel="nofollow" href="https://mail.google.com/mail/u/2/?ogbl#inbox?compose=GTvVlcRwQMMCnpHwKZFcjVhTnBpwPbcPfWXCfXJtbqNDPQNqKxzWNwMbdZLxXqdHmDkXjZPcNcdnH">j.mejiasp@duocuc.cl</a>
                    </div>
                </div>
            </div>
        </div>
        <br><br><br>
    </section>
</body>