{% include 'base.html' %}
{% include 'sidebars/adminSidebar.html' %}
<body>
    <section class="home-section">
        <div class="home-content">
            <i class='bx bx-menu' ></i>
            <span class="text">Mantenedor Competencias</span>
        </div>
        <br>
        <div class="container-fluid">
            <div class="card shadow">
                <div class="card-body">  
                    <div class="content-header row">
                        <div class="content-header-left col-md-6 col-12 mb-2">
                            <h3 class="content-header-title"> Mantenedor de competencias </h3>
                            <br>
                            <div class="col-sm-12 col-md-6">
                                <div id="tablaUsuarios_filter" class="dataTables_filter"> 
                                    <label>
                                        Buscar:
                                        <input class="form-control" id="buscar" type="text" placeholder="Search..">
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="content-header-right col-md-6 col-12">
                            <div class="media-body media-right text-right">
                                <button type="button" id="btn" class="btn btn-primary" data-toggle='modal' data-target="#modalAgregar" style="opacity: 0.5;">
                                    <a href="#" class="bx bx-edit-alt" style="opacity: 1; color: black;"></a>
                                </button>
                                <!-- Modal Agregar -->
                                <div class="modal fade" id='modalAgregar'>
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <!-- Modal Header -->
                                            <div class="modal-header">
                                                <h4 class="modal-title">Crear cargos</h4>
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                              </div>
                                            <!-- Modal body -->
                                            <div class="modal-body">
                                                <form action='' method="POST">
                                                    {% csrf_token %}
                                                    <div class="media-body text-left">
                                                        {{ form.as_p }}
                                                    </div>
                                                    <br><br>
                                                    <div class="d-flex justify-content-end">
                                                        <button type="submit" class="btn btn-primary">Guardar</button>
                                                        &nbsp;
                                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                                    </div>
                                                </form>
                                            </div>                                               
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container-fluid" style="overflow: hidden; position: realtive; border: 0px; width: 100%;">
                        <table class="table">
                            <thead class="thead-dark">
                                <tr> 
                                    <th>Nombre</th>
                                    <th>Definicion</th>
                                    <th>Perfil</th>
                                    <br>
                                    <th>Opciones</th>
                                </tr>
                            </thead>
                            <tbody id="tabla">
                                {% for competencia in competencias %}
                                    <tr>
                                        <td>{{ competencia.NombreCompetencia }}</td>
                                        <td>{{ competencia.Definicion }}</td>
                                        <td>{{ competencia.IdPerfil}}</td>
                                        <td>
                                            <button type="button" id="btn" class="btn btn-primary" style="opacity: 0.5;">
                                                <a href="{% url 'adminCompetenciasModificar' competencia.id %}" class="bx bx-edit-alt" style="opacity: 1; color: black;"></a>
                                            </button>
                                            <button type="button" id="btn" class="btn btn-danger" style="opacity: 0.5;">
                                                <a href="{% url 'adminCompetenciasEliminar' competencia.id %}" class="bx bx-box" style="opacity: 1; color: black;"></a>
                                            </button>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <br><br><br>
    </section>
</body>