{% include 'base.html' %}
{% load crispy_forms_tags %}
<body>
{% include 'sidebars/adminSidebar.html' %}
{% include 'mensajes.html' %}
    <section class="home-section">
        <div class="container-fluid" id="title">
            <div class="card shadow">
                <div class="card body">
                    <div class="home-content">
                        <span class="text">{{ page }}</span>
                    </div>
                </div>
            </div>
        </div>
        <br><br><br>
        <div class="container-fluid">
            <div class="card shadow">
                <div class="card-body">
                    <div class="content-header row">
                        <div class="content-header-left col-md-6 col-12 mb-2">
                            <h3 class="content-header-title"> Indicadores </h3>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <h4>Graficos con relacion a las evaluaciones</h4>
                        
                        
                    </div>
                </div>
            </div>
        </div>
        <br><br><br>
    </section>
</body>