{% load static %}
{% include 'base.html' %}
{% include 'sidebars/adminSidebar.html' %}
<body>
    <section class="home-section">
        <div class="home-content">
            <i class='bx bx-menu' ></i>
            <span class="text">Inicio</span>
        </div>
        <br>
        <div class="container">
        <center>
            <h1>Bienvenido {{user.username}}</h1>
            <p>
                Este es la fase temprana del sistema de evaluacion de desempeño laboral Sentte.
                Para acceder a sus funciones, existe un menu lateral en la parte izquierda.
            </p>  
        </center>
        </div>
    </section>
</body>