{% include 'base.html' %}
{% load crispy_forms_tags %}
<body>
{% include 'sidebars/adminSidebar.html' %}
    {% if messages %}
        {% for m in messages %}
            <script>
                Swal.fire({
                    "title": "Registro",
                    "text": "{{ m }}",
                    "icon": "success"                    
                })
            </script>
        {% endfor %}
    {% endif %}
    <section class="home-section">
        <div class="home-content">
            <i class='bx bx-menu' ></i>
            <span class="text">Cargos</span>
        </div>
        <br>
        </div>
        <div class="container-fluid">
                <div class="card shadow">
                    <div class="card-body">
                        <div class="content-header row">
                            <div class="content-header-left col-md-6 col-12 mb-2">
                                <h3 class="content-header-title"> Mantenedor de Cargos </h3>
                                <br>
                                <div class="col-sm-12 col-md-6">
                                    <div id="tablaUsuarios_filter" class="dataTables_filter"> 
                                        <label>
                                            Buscar:
                                            <input class="form-control" id="buscar" type="text" placeholder="Search..">
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="content-header-right col-md-6 col-12">
                                <div class="media-body media-right text-right">
                                <br>
                                <button type="button" id="btn" class="btn btn-success" data-toggle='modal' data-target="#modalAgregar" style="opacity: 0.5; height: 50px; width: 100px;">
                                    <a href="#" class="bx bxs-add-to-queue" style="opacity: 1; color: black;">Agregar</a>
                                </button>
                                    <!-- Modal Agregar -->
                                    <div class="modal fade" id='modalAgregar'>
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <!-- Modal Header -->
                                                <div class="modal-header">
                                                    <h4 class="modal-title">Crear cargos</h4>
                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                  </div>
                                                <!-- Modal body -->
                                                <div class="modal-body">
                                                    <form action='' method="POST">
                                                        {% csrf_token %}
                                                        <div class="media-body text-left">
                                                            {{ form | crispy }}
                                                        </div>
                                                        <br><br>
                                                        <div class="d-flex justify-content-end">
                                                            <button type="submit" class="btn btn-primary">Guardar</button>
                                                            &nbsp;
                                                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                                        </div>
                                                    </form>
                                                </div>    
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container-fluid" style="overflow: hidden; position: realtive; border: 0px; width: 100%;">
                            <table class="table">
                                <thead class="thead-dark">
                                    <tr> 
                                        <th>Nombre del cargo</th>
                                        <br>
                                        <th>Opciones</th>
                                    </tr>
                                </thead>
                                <tbody id="tabla">
                                    {% for cargo in cargos %}
                                        <tr>
                                            <td data-label="N.Cargo">{{ cargo.NombreCargo }}</td>
                                            <td>
                                                <a class="btn btn-primary" href="{% url 'adminCargosModificar' cargo.id %}" style="opacity: 0.5;">
                                                    <p class="bx bx-edit-alt" style="opacity: 1; color: black; width: 19px; height: 5px;"></p>
                                                </a>
                                                <a class="btn btn-danger" data-name="{{ cargo.NombreCargo }}" href="{% url 'adminCargosEliminar' cargo.id %}" id="btnEliminar"  style="opacity: 0.5;">
                                                    <p class="bx bx-box" style="opacity: 1; color: black; width: 19px; height: 5px;"></p>
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>                
                        </div>
                        <div>
                            {% include 'paginator.html' %}
                        </div>
                    </div>
                </div> 
            </div>
        </div>
        <br><br><br>
    </section>
</body>