{% include 'base.html' %}
{% include 'sidebars/adminSidebar.html' %}
<body>
     <!-- Icono del menu -->
    <section class="home-section">
        <div class="home-content">
            <i class='bx bx-menu' ></i>
            <span class="text">Mantenedor Usuarios</span>
        </div>
        <br>
        <!-- Cuerpo principal -->
        <div class="container-fluid">
            <div class="card">
                <div class="card-body">
                    <div class="content-header row">
                        <div class="content-header-left col-md-6 col-12 mb-2">
                            <h3 class="content-header-title"> Mantenedor Usuarios </h3>
                        </div>
                        <!-- Esquina  superior derecha, agregar -->
                        <div class="content-header-right col-md-6 col-12">
                            <div class="media-body media-right text-right">
                                <!-- Llama a la funcion modalAgregar -->
                                <button onclick="modalAgregar()" type="button" class="bx bx-user-plus">
                                    <i class="la la-list-alt"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- Cuerpo de la tarjeta -->
                    <div class="col-sm-12">  
                        <div id="tablaUsuarios_wrapper" class="dataTables_wrapper dt-bootstrap4">
                            <!-- Primera parte: mostrar, buscar -->
                            <div class="row">
                                <div class="col-sm-12 col-md-6">
                                    <div class="dataTables_length" id="tablaUsuarios_length">
                                        <label>Mostrar 
                                            <select name="tablaUsuarios_length" aria-controls="tablaUsuarios" class="custom-select custom-select-sm form-control form-control-sm">                                            
                                                <option value="10">10</option>
                                                <option value="25">25</option>
                                                <option value="50">50</option>
                                                <option value="100">100</option>
                                            </select>
                                         Registros
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <div id="tablaUsuarios_filter" class="dataTables_filter"> 
                                        <label>
                                            Buscar:
                                            <input type="search" class="form-control form-control-sm" aria-controls="tablaUsuarios">
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <!-- Segunda parte: grilla -->
                            <div class="row">
                                <table class="table">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>Rut</th>
                                            <th>Nombre</th>
                                            <th>Correo</th>
                                            <th>Perfil Evaluacion</th>
                                            <th>Area</th>
                                            <th>Gerencia</th>
                                            <th>SubGerencia</th>
                                            <th>Opciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {%for empleado in empleados %}
                                        <tr>
                                            <td>{{empleado.Rut}}</td>
                                            <td>{{empleado.Nombre}}</td>
                                            <td>{{empleado.Correo}}</td>
                                            <td>No se</td>
                                            <td>No se</td>
                                            <td>No se</td>
                                            <td>No se</td>
                                            <td>
                                                <button type="button" id="btn" class="btn btn-primary" style="opacity: 0.5;">
                                                    <a href="#" class="bx bx-edit-alt" style="opacity: 1; color: black;"></a>
                                                </button>
                                                <button type="button" id="btn" class="btn btn-danger" style="opacity: 0.5;">
                                                    <a href="#" class="bx bx-box" style="opacity: 1; color: black;"></a>
                                                </button>
                                            </td>
                                        </tr>
                                        {%endfor%}
                                    </tbody>
                                </table>
                            </div>
                            <!-- Tercera parte: paso de pagina -->
                            <div class="row">

                            </div>
                        </div>
                    </div>  
                    
                </div>
            </div>
        </div>
    </section>
</body>