{% include 'base.html' %}
{% include 'sidebars/adminSidebar.html' %}
<body>
    <section class="home-section">
        <div class="home-content">
            <i class='bx bx-menu' ></i>
            <span class="text">Mantenedor Cargos</span>
        </div>
        <br>
        <div class="container-fluid">
            <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis ea sapiente, nihil blanditiis iure fugiat amet deserunt libero sint quibusdam debitis quia ipsa necessitatibus optio, beatae architecto eveniet! Recusandae, tempora!</h3>
        </div>
    </section>
   
    
</body>