{% include 'base.html' %}
{% include 'sidebars/adminSidebar.html' %}
{% load static %}
<body>
    <section class="home-section">
        <div class="card shadow">
            <div class="card body">
                <div class="home-content">
                    <span class="text">{{ page }}</span>
                </div>
            </div>
        </div>
        <br>
        <div class="container-fluid">
             <!-- Se genera una tarjeta para la presentacion de la informacion-->       
             <div class="card shadow mb-4">
                <!-- La cabeza de la tarjeta -->
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold">¿Como podemos ayudarte?</h6>
                </div>
                <!-- El cuerpo de la tarjeta -->
                <div class="card-body">
                    <div class="text-center">
                        <img class="img-fluid" src="{% static 'img/ayuda_foto.PNG' %}" width="40%" height="40%">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum quia exercitationem illo, 
                            doloremque dignissimos tempora id natus distinctio incidunt 
                            alias aliquam repellendus facere eligendi, perspiciatis magni laborum harum, placeat laudantium?
                        </p>
                        <!-- Comentario con enlace al correo de gmail -->
                        <p>Contactarse con Javier Mejias por correo en caso de algun inconveniente</p>
                        <a target="_blank" rel="nofollow" href="https://mail.google.com/mail/u/2/?ogbl#inbox?compose=GTvVlcRwQMMCnpHwKZFcjVhTnBpwPbcPfWXCfXJtbqNDPQNqKxzWNwMbdZLxXqdHmDkXjZPcNcdnH">j.mejiasp@duocuc.cl</a>
                    </div>
                </div>
            </div>
        </div>
        <br><br><br>
    </section>
</body>