{% load static %}
{% include 'base.html' %}
{% include 'sidebars/adminSidebar.html' %}
<body>
    <section class="home-section">
        <div class="home-content">
            <i class='bx bx-menu' ></i>
            <span class="text">Inicio</span>
        </div>
        <br>
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            <h4><b>Fase de Planificacion</b></h4>
                            <br>
                            <b>Finalizadas: 
                               <span id="fin_planificacion">5</span>
                            </b>
                            /
                            <b>Pendientes: 
                                <span id="pen_planificacion">195</span>
                            </b>
                        </div>
                        <div class="card-body">
                            <b>aqui grafico</b>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            <h4><b>Fase de Seguimiento</b></h4>
                            <br>
                            <b>Finalizadas: 
                               <span id="fin_seguimiento">0</span>
                            </b>
                            /
                            <b>Pendientes: 
                                <span id="pen_seguimiento">200</span>
                            </b>
                        </div>
                        <div class="card-body">
                            <b>aqui grafico</b>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            <h4><b>Fase de Evaluacion</b></h4>
                            <br>
                            <b>Finalizadas: 
                               <span id="fin_evaluacion">0</span>
                            </b>
                            /
                            <b>Pendientes: 
                                <span id="pen_evaluacion">200</span>
                            </b>
                        </div>
                        <div class="card-body">
                            <b>aqui grafico</b>
                        </div>
                    </div>
                </div>                
            </div>
            <br><br>
            <div class="card">
                <div class="card-body">
                    <h5>Inicio</h5>
                    <p>Vale por un grafico
                        Lorem ipsum dolor sit amet consectetur 
                        adipisicing elit. Illo fuga minima libero 
                        ducimus velit iusto. Dicta numquam dolor, 
                        quod dolore cupiditate nostrum repudiandae 
                        velit, soluta odio vero deserunt amet. Obcaecati?
                    </p>
                </div>
              </div>
        </div>
    </section>
</body>