{% include 'base.html' %}
{% load crispy_forms_tags %}
<body>
{% include 'sidebars/adminSidebar.html' %}
    <section class="home-section">
        <div class="container-fluid" id="title">
            <div class="card shadow">
                <div class="card body">
                    <div class="home-content">
                        <span class="text">{{ page }}</span>
                    </div>
                </div>
            </div>
        </div>
        <br><br><br><br>
        <div class="container-fluid">
            <div id="accordion">
                {% for competencia in competencias %}
                    {% if empleados.IdPerfil == competencia.IdPerfil%}
                        <div class="card">
                            <div class="card-header" style="background-color:#f3c53f;text-align:center;">
                                <a class="card-link" data-toggle="collapse" style="color:white">
                                    <h4>Competencia: {{ competencia.NombreCompetencia}}</h4>
                                </a>
                            </div>
                            <div id="collapseOne" class="collapse show" data-parent="#accordion">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <b>Definicion:</b>
                                            {{ competencia.Definicion}}
                                            <br><br>
                                        </div>
                                        <div class="row" style="text-align:center">
                                            <div class="col-sm-10">
                                                <h5><b>Acciones clave</b><h5>
                                            </div>
                                            <div class="col-sm-2">
                                                <h5><b>Calificación</b><h5>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            {% for accionclave in accionclaves %}
                                                {% if competencia.NombreCompetencia == accionclave.IdCompetencia.NombreCompetencia %}
                                                    <div class="row">
                                                        <p>
                                                            <div class="col-sm-10">
                                                                {{ accionclave.Descripcion }}
                                                            </div>
                                                            <div class="col-sm-2">
                                                                {{ form2.Calificacion }}
                                                            </div>
                                                        </p>
                                                    </div>
                                                    <hr>
                                                {% endif %}
                                            {% endfor %}  
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
                <br><br><br>
                <div class="card">
                    <div class="card-header" style="background-color:#f3c53f;text-align:center;">
                        <a class="card-link" data-toggle="collapse" style="color:white">
                            <h4>Observacion</h4>
                        </a>
                    </div>
                    <div class="card-body">
                        <div class="col-sm-12">  
                            <form action="" method="POST"> 
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-sm-12">
                                        {{ form2.ComentarioEvaluador }}
                                    </div>
                                  </div> 
                                  <br><br>
                                <div class="d-flex justify-content-end" style="margin-right: 30%;">
                                    <input type="submit" value="Guardar" class="btn btn-primary" style="width: 250px;">
                                    &nbsp;
                                    <a href="/evaluadorEvaluacion" value="Cancelar" class="btn btn-danger" role="button" style="width: 250px;">Cancelar</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <br><br><br>
</body>