{% include 'base.html' %}
<body>
{% include 'sidebars/evaluadorsidebar.html' %}
    <section class="home-section">
        <div class="card shadow">
            <div class="card body">
                <div class="home-content">
                    <span class="text">{{ page }}</span>
                </div>
            </div>
        </div>
        <br>
        <div class="container-fluid">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold">Sistema de Gestión y Retroalimentación del Desempeño</h6>
                </div>
                <div class="card-body">
                    <p>PABLO ANDRES LOBOS NAVIA, bienvenido/a al “Sistema de Gestión y Retroalimentación del Desempeño”, 
                        importante herramienta que ha sido desarrollada por estudiantes del Duoc con el fin de que pueda 
                        gestionar el desarrollo de las personas de su equipo de trabajo, alineando y planificando su desempeño, 
                        por medio de la evaluación de competencias.</p>
                    <p>El Sistema de Gestión y Retroalimentación del Desempeño se compone de tres fases: planificación, 
                        seguimiento y evaluación, durante las cuales deberá realizar distintos pasos que iremos informando 
                        oportunamente.</p>
                    <p>Lo invitamos a participar de manera activa y comprometida en este proceso, para que podamos contar con 
                        un sistema que apoye un modelo de gestión de personas eficiente y de calidad.</p>
                    <p> Gerencia de Recursos Humanos </p>
                </div>
            </div>
        </div>
    </section>
</body>