{% include 'base.html' %}
<body>
{% include 'sidebars/adminSidebar.html' %}
    <section class="home-section">
        <div class="container-fluid" id="title">
            <div class="card shadow">
                <div class="card body">
                    <div class="home-content">
                        <span class="text">{{ page }}</span>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <div class="container-fluid">
            <div id="accordion">
                {% for competencia in competencias %}
                    {%if empleados.IdPerfil == competencia.IdPerfil%}
                        <div class="card">
                            <div class="card-header">
                                <a class="card-link" data-toggle="collapse" href="#collapseOne">
                                    Competencia: {{ competencia.NombreCompetencia}}
                                </a>
                            </div>
                            <div id="collapseOne" class="collapse show" data-parent="#accordion">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-11">
                                            <p class="text-primary">Definicion:</p>  
                                            {{ competencia.Definicion}}
                                            <br><br>
                                        </div>
                                        <p class="text-primary">Comportamientos esperados</p>  
                                        <ul class="nav-links">
                                            {% for accionclave in accionclaves %}
                                                {% if competencia.NombreCompetencia == accionclave.IdCompetencia.NombreCompetencia %}
                                                    <li>
                                                        <p>
                                                        {{ accionclave.Descripcion }} 
                                                        </p>
                                                    </li> 
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>
    <br><br><br>
</body>