{% include 'base.html' %}
{% include 'sidebars/evaluadorsidebar.html' %}
{% load static %}
<body>
    <section class="home-section">
        <div class="home-content">
            <i class='bx bx-menu' ></i>
            <span class="text">Evaluacion</span>
        </div>
        <br>
        <div class="container-fluid">
            <div id="accordion">
                <div class="card">
                  <div class="card-header">
                    <a class="card-link" data-toggle="collapse" href="#collapseOne">
                      Competencia: Flexibilidad
                    </a>
                  </div>
                  <div id="collapseOne" class="collapse show" data-parent="#accordion">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-sm-11">
                            <p class="text-primary">Definicion:</p>  
                            Habilidad para adaptarse y trabajar con eficiencia cuando cambian las prioridades, cuando se está frente a nuevas tareas y/o responsabilidades y cuando hay que relacionarse con personas que poseen diferentes enfoques, desempeñándose con eficacia en diversos entornos y situaciones y manteniendo el equilibrio entre la vanguardia y la tradición.
                            <br><br>
                             <p class="text-primary">Comportamientos esperados</p>  
                            <ul class="nav-links">
                                <li>
                                    <p>
                                    Comprende los cambios en las tareas, situaciones y ambiente de trabajo, así como la naturaleza de tales cambios. 
                                    </p>
                                </li>
                                <li>
                                    <p>
                                    Adapta el comportamiento frente a los cambios en las asignaciones o interrupciones, ajustándose rápidamente a las nuevas responsabilidades y tareas. (considerar factor tiempo).
                                    </p>
                                </li>
                                <li>
                                    <p>
                                    Asume una actitud positiva y flexible frente al cambio, manejando la incomodidad que pueda sentir frente a este, comprendiendo que todo cambio es una oportunidad para aprender y crecer. 
                                    </p>
                                </li>
                                <li>
                                    <p>
                                    Flexibiliza su rol en virtud de las necesidades y requerimientos que se presentan, en pos de entregar un servicio de excelencia a los alumnos. 
                                    </p>
                                </li>
                                <li>
                                    <p>
                                    Promueve,  tanto en sus funciones como en las de las otras áreas, la incorporación de ideas innovadoras, cuidando mantener el equilibrio con la tradición del colegio.
                                    </p>
                                </li>
                            </ul>
                         </div>
                        <div class="col-sm-2">
                        </div>             
                    </div>
                </div>
            </div>
        </div>
                <div class="card">
                  <div class="card-header">
                    <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
                      Competencia: 
                    </a>
                  </div>
                  <div id="collapseTwo" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                      Definicion: Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum reprehenderit voluptas nemo autem molestiae illo at animi itaque. Cumque dolor doloremque iure sed laboriosam perferendis fuga est dolore tempore ipsa.
                    </div>
                  </div>
                </div>
              
                <div class="card">
                  <div class="card-header">
                    <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
                      Competencia: 
                    </a>
                  </div>
                  <div id="collapseThree" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                      Definicion: Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, blanditiis quaerat! Praesentium itaque ex voluptate vero. Consequatur veniam ipsa quod modi, veritatis amet facilis reiciendis totam! Omnis animi repudiandae facere?
                    </div>
                  </div>
                </div>
              
              </div>
        </div>
    </section>
</body>