{% include 'base.html' %}
<body>
{% include 'sidebars/adminSidebar.html' %}
    <section class="home-section">
        <div class="container-fluid" id="title">
            <div class="card shadow">
                <div class="card body">
                    <div class="home-content">
                        <span class="text">{{ page }}</span>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <div class="container-fluid">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold">Sistema de Gestión y Retroalimentación del Desempeño</h6>
                </div>
                <div class="card-body">
                    {% for empleado in empleados %}
                        {% if empleado.user.username == user.username %}
                    
                            <p>{{ empleado.Nombre }}, bienvenido/a al “Sistema de Gestión y Retroalimentación del Desempeño”, 
                                importante herramienta que ha sido desarrollada por estudiantes del Duoc con el fin de que 
                                pueda gestionar el desarrollo de las personas de su equipo de trabajo, alineando y planificando 
                                su desempeño, por medio de la evaluación de competencias.</p>
                            <p>El Sistema de Gestión y Retroalimentación del Desempeño se compone de tres fases: planificación, 
                                seguimiento y evaluación, durante las cuales deberá realizar distintos pasos que iremos informando 
                                oportunamente.</p>
                            <p>Lo invitamos a participar de manera activa y comprometida en este proceso, para que podamos contar 
                                con un sistema que apoye un modelo de gestión de personas eficiente y de calidad.</p>
                            <p> Gerencia de Recursos Humanos </p>
                        {% endif %}
                    {% endfor %}
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                {% for evaluacion in evaluacion %}  
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-tittle">Evaluacion de competencia</h4>
                        </div>
                        <div class="card-content">
                            <div class="card-body" style="font-size:13px">
                                <form method="post" action="">
                                    <p>Rut: {{evaluacion.IdEmpleado.Rut}}</p>
                                    <p>Nombre: {{evaluacion.IdEmpleado}}</p>
                                    <div>
                                        Estado: 
                                        <div class="badge badge-pill badge-danger" style="font-size:11px">
                                            <b>{{evaluacion.Estado}}</b>
                                        </div>
                                    </div>
                                    <br>
                                    <a href="{% url 'evaluadorFormulario' evaluacion.IdEmpleado.id %}" class="btn btn-info" role="button">Comenzar</a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                   
                
                {% endfor %}
            </div>
        </div>
        <br>
    </section>
</body>