{% include 'base.html' %}
{% include 'sidebars/calibradorSidebar.html' %}
<body>
    <section class="home-section">
        <div class="home-content">
            <i class='bx bx-menu' ></i>
            <span class="text">Evaluacion</span>
        </div>
        <br>
        <!-- Se genera un contenedor para el cuerpo principal, donde va a ir la info -->
        <div class="container-fluid">
            <div class="row">
                <!------------------------------- Tarjeta -------------------------------->
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-tittle">Fase Inicio</h4>
                        </div>
                        <div class="card-content">
                            <div class="card-body" style="font-size:13px">
                                <form method="post" action="">
                                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum excepturi consequatur 
                                        voluptates debitis error consectetur, id inventore ducimus
                                        incidunt suscipit cupiditate porro, eos officia repudiandae dolorum similique. Mollitia, nemo eaque!
                                    </p>
                                    <button type="button" >hola</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!------------------------------- Tarjeta -------------------------------->
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-tittle">Fase Inicio</h4>
                        </div>
                        <div class="card-content">
                            <div class="card-body" style="font-size:13px">
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum excepturi consequatur 
                                    voluptates debitis error consectetur, id inventore ducimus
                                    incidunt suscipit cupiditate porro, eos officia repudiandae dolorum similique. Mollitia, nemo eaque!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!------------------------------- Tarjeta -------------------------------->
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-tittle">Fase Inicio</h4>
                        </div>
                        <div class="card-content">
                            <div class="card-body" style="font-size:13px">
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum excepturi consequatur 
                                    voluptates debitis error consectetur, id inventore ducimus
                                    incidunt suscipit cupiditate porro, eos officia repudiandae dolorum similique. Mollitia, nemo eaque!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!------------------------------- Tarjeta -------------------------------->
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-tittle">Fase Inicio</h4>
                        </div>
                        <div class="card-content">
                            <div class="card-body" style="font-size:13px">
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum excepturi consequatur 
                                    voluptates debitis error consectetur, id inventore ducimus
                                    incidunt suscipit cupiditate porro, eos officia repudiandae dolorum similique. Mollitia, nemo eaque!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!------------------------------- Tarjeta -------------------------------->
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-tittle">Fase Inicio</h4>
                        </div>
                        <div class="card-content">
                            <div class="card-body" style="font-size:13px">
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum excepturi consequatur 
                                    voluptates debitis error consectetur, id inventore ducimus
                                    incidunt suscipit cupiditate porro, eos officia repudiandae dolorum similique. Mollitia, nemo eaque!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!------------------------------- Tarjeta -------------------------------->
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-tittle">Fase Inicio</h4>
                        </div>
                        <div class="card-content">
                            <div class="card-body" style="font-size:13px">
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum excepturi consequatur 
                                    voluptates debitis error consectetur, id inventore ducimus
                                    incidunt suscipit cupiditate porro, eos officia repudiandae dolorum similique. Mollitia, nemo eaque!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!------------------------------- Tarjeta -------------------------------->
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-tittle">Fase Inicio</h4>
                        </div>
                        <div class="card-content">
                            <div class="card-body" style="font-size:13px">
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum excepturi consequatur 
                                    voluptates debitis error consectetur, id inventore ducimus
                                    incidunt suscipit cupiditate porro, eos officia repudiandae dolorum similique. Mollitia, nemo eaque!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!------------------------------- Tarjeta -------------------------------->
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-tittle">Fase Inicio</h4>
                        </div>
                        <div class="card-content">
                            <div class="card-body" style="font-size:13px">
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum excepturi consequatur 
                                    voluptates debitis error consectetur, id inventore ducimus
                                    incidunt suscipit cupiditate porro, eos officia repudiandae dolorum similique. Mollitia, nemo eaque!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>