{% include 'base.html' %}
{%load static%}
<body>
{% include 'sidebars/calibradorSidebar.html' %}
    <section class="home-section">
        <div class="card shadow">
            <div class="card body">
                <div class="home-content">
                    <span class="text">{{ page }}</span>
                </div>
            </div>
        </div>
        <br>
        <div class="container-fluid">
            <a>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam quaerat aliquam deserunt 
            veritatis quisquam illo odit quos, dolores tempore aut adipisci in veniam dicta assumenda 
            facere illum velit fuga eius.</a>
            <br><br>
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold">Evaluaciones</h6>
                </div>
                <div class="card-body">
                    <div class="container p-3 my-3 border">
                        <div class="row">
                            <div class="col-sm-2">
                                <i><img class="img-fluid" src="{% static 'img/foto_perfil.jpg' %}" width="300" height="250"></i>
                            </div>
                            <div class="col-sm-6">
                                <h3>Jose Luis Rodriguez</h3> 
                                <h8>Encargdo del area de comercio</h8>
                                <br>
                                <h8>Tiempo de antigüedad: 4 años</h8>
                                <br>
                                <h8>Aclamado por su equipo</h8>
                            </div>
                            <div class="col-sm-2" >
                                <button type="button" class="btn btn-outline-primary">Evaluar</button>
                            </div>
                        </div>
                    </div>
                    <div class="container p-3 my-3 border">
                        <div class="row">
                            <div class="col-sm-2">
                                <i><img class="img-fluid" src="{% static 'img/foto_perfil.jpg' %}" width="300" height="250"></i>
                            </div>
                            <div class="col-sm-6">
                                <h3>Jose Luis Rodriguez</h3> 
                                <h8>Encargdo del area de comercio</h8>
                                <br>
                                <h8>Tiempo de antigüedad: 4 años</h8>
                                <br>
                                <h8>Aclamado por su equipo</h8>
                            </div>
                            <div class="col-sm-2" >
                                <button type="button" class="btn btn-outline-primary">Evaluar</button>
                            </div>
                        </div>
                    </div>
                    <div class="container p-3 my-3 border">
                        <div class="row">
                            <div class="col-sm-2">
                                <i><img class="img-fluid" src="{% static 'img/foto_perfil.jpg' %}" width="300" height="250"></i>
                            </div>
                            <div class="col-sm-6">
                                <h3>Jose Luis Rodriguez</h3> 
                                <h8>Encargdo del area de comercio</h8>
                                <br>
                                <h8>Tiempo de antigüedad: 4 años</h8>
                                <br>
                                <h8>Aclamado por su equipo</h8>
                            </div>
                            <div class="col-sm-2" >
                                <button type="button" class="btn btn-outline-primary">Evaluar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>